.skills {
	// height: 2244px; //? так в макеті - sm
	background-color: #ffdde3;
	font-family: getFont('font-family');

	//! Медіа-запити
		//* Від 575px
		@media screen and (min-width: getBreakPoint('md')) {
			// height: 1300px; //? для перевірки - md
		}
	
		//* Від 767px
		@media screen and (min-width: getBreakPoint('lg')) {
			height: 830px; //? для перевірки - lg
		}

	.title {
		@include title-section;
		margin-bottom: 32px;
	}

	.skills-list {
		display: flex;
		flex-direction: column;
		gap: 21px;
		// }

		@media (min-width: getBreakPoint('md')) {
			//  flex-wrap: wrap;
			//  flex-direction: row;
			display: grid;
			//  grid-template-columns:1fr 1fr;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 534px);
			column-gap: 30px;
			row-gap: 34px;
		}

		@media (min-width: getBreakPoint('lg')) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 441px 241px;
			grid-template-areas:
				'first second third'
				'first fourth fourth'
				// 1-first
				// 2-second
				// 3-third
				// 4-fourth
				;
		}

		&__item {
			background-color: #f5f5f5;
			padding: 10px 17px 44px 15px;
			outline: 1px solid blue;

			&:nth-child(1) {
				@media (min-width: getBreakPoint('lg')) {
					grid-area: first;
				}
			}

			&:nth-child(2) {
				@media (min-width: getBreakPoint('lg')) {
					grid-area: second;
				}
			}

			&:nth-child(3) {
				@media (min-width: getBreakPoint('lg')) {
					grid-area: third;
				}
			}

			&:nth-child(4) {
				@media (min-width: getBreakPoint('lg')) {
					grid-area: fourth;
				}
			}

			@media (min-width: getBreakPoint('md')) {
				display: flex;
				flex-direction: column;
				// width:240px;
				// height: 534px;

				// &:nth-child(1){

				// }
				// &:nth-child(2){

				// }
				// &:nth-child(3){

				// }
				// &:nth-child(4){

				// }
			}
			&:nth-child(1) .skills-list__title::before {
				height: 213px;
				background-image: url(../images/03_1-1_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')) {
					height: 185px;
					background-image: url(../images/03_2-1_skills_background-md.svg);
				}
			}
			&:nth-child(2) .skills-list__title::before {
				height: 204px;
				background-image: url(../images/03_1-2_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')) {
					height: 182px;
					background-image: url(../images/03_2-2_skills_background-md.svg);
				}
			}
			&:nth-child(3) .skills-list__title::before {
				height: 157px;
				background-image: url(../images/03_1-3_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')) {
					height: 132px;
					background-image: url(../images/03_2-3_skills_background-md.svg);
				}
			}
			&:nth-child(4) .skills-list__title::before {
				height: 154px;
				background-image: url(../images/03_1-4_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')) {
					height: 137px;
					background-image: url(../images/03_2-4_skills_background-md.svg);
				}
			}
		}

		&__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 444%;
			color: #263238;

			&::before {
				content: '';
				display: block;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		&__text {
			font-weight: 400;
			font-size: 13px;
			color: #8f95a5;
			// margin-bottom: 36px;
			outline: 1px solid red;
			@media (min-width: getBreakPoint('md')) {
				font-size: 12px;
				flex-grow: 1;
			}
		}
		&__btn {
			@include button(200px, 60px);
			font-size: 14px;
			@media (min-width: getBreakPoint('md')) {
				height: 50px;
			}
			@media (min-width: getBreakPoint('md')) {
		    width: 178px;
			font-size: 16px;
			}
		}
	}
}
